{{template "base" .}}
{{define "title"}}Create a New Post{{end}}
{{define "main"}}
<form action='/post/create/' method='POST'>
    <div>
  
        <label>Title:</label>
        {{with .Form.Errors.Get "title"}}
        <label class='error'>{{.}}</label>
        {{end}}
        <input type='text' name='title' value='{{.Form.Get "title"}}'>
        </div>
        <div>
        <label>Description:</label>
        {{with .Form.Errors.Get "description"}}
        <label class='error'>{{.}}</label>
        {{end}}
        <textarea name='description'>{{.Form.Get "description"}}</textarea>
        </div>
        <div class="category">
            <p>Choose category: </p>
            <div class="category-item">
                <input type="radio" id="general-topic" name="category" value="General topic" checked>
                <label for="general-topic">General topic</label>
            </div>
            <div class="category-item">
                <input type="radio" id="life-style" name="category"  value="Life style">
                <label for="life-style">Life style</label>
            </div>
            <div class="category-item">
                <input type="radio" id="food" name="category"  value="Food">
                <label for="food">Food</label>
            </div>
            <div class="category-item">
                <input type="radio" id="sport" name="category"  value="Sport">
                <label for="sport">Sport</label>
            </div>
            <div class="category-item">
                <input type="radio" id="fassion" name="category"  value="Fassion">
                <label for="fassion">Fassion</label>
            </div>
        </div>
        <input type='submit' value='Publish post'>
        </div>
     
</form>
{{end}}